
body {
	background-color: #4e42f4;
}

a:hover {
	text-decoration: none;
	color: white;
}

.myfont {
	font-family: "Courier New", Courier, monospace;
	color: white;
	text-decoration: none;
}

.mylargefont {
	font-family: 'Lucida Console', Monaco, monospace;
	color: white;
	text-decoration: none;
}

.day-row {
	margin: 1rem;
}

.show-tile {
	margin: 0px; 
	color: white;
	border: 1px solid white;
	border-radius: 0px;
	min-height: 300px;
	cursor: pointer;
}

.band-and-venue-info {
	position: absolute;
	bottom: 5rem;
}

.venue-art {
	left: 20px;
}

.burlington {
	position: relative;
	width: 75%;
	left: 2rem;
	top: 1rem;
}
.empty-bottle {
	position: relative;
	width: 70%;
	top: 2rem;
}
.subterranean {
	width: 85%;
}
.schubas {
	width: 85%;
}
.lincoln-hall {
	width: 100%;
}
.beat-kitchen {
	position: relative;
	width: 65%;
	top: 1rem;
}
.coles {
	position: relative;
	width: 70%;
	top: 2.5rem;
}
.hideout {
	position: relative;
	top: 2.5rem;
	width: 70%;
}

.clicked-tile {
	background-image: url("static/img/Parquet_Courts.jpg");
}

.expanded-show-image {
	display: block;
	max-width: 100%
	}
iframe {
	display: block;
	width: 100%;
}