<html>
	<head>
		{% if title %}
		<title>{{title}}</title>
		{% else %}
		<title>ChiBarCrawler | Find Music in Chicago Bars</title>
		{% endif %}
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="/static/js/shows.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/css/shows.css" rel="stylesheet" media="screen">
		<script src="/static/js/bootstrap.min.js"></script>

	</head>
	<body>
		<div class="container-fluid">
			<header class="page-header standard" style="padding: 7px; border-radius: 5px">
				<div><a href="/index" class="mylargefont"><h3>ChiBarCrawler</h3></a></div>
			</header>
			{% block content %}{% endblock %}
			<header class="page-header standard" style="border-radius: 5px; padding: 7px;">
			<a href="/contact"><h4 class="myfont" style="text-decoration: none; ">Contact Us</h4></a></div>
		</div>
	</body>
</html>