{% extends "base.html" %}
{% block content %}

{% for day in show_data %}
<div class='row' style="margin-bottom: 2%">
	<div class='row'><div class="col-sm-12 day-row"><h4 class="myfont">{{ day[0] }}</h4></div></div>
	{% for show in day[1] %}
	<div class="col-sm-3 show-tile">
		<img src="/static/img/{{ show['venue_img'] }}.png" class="venue-art {{ show['venue_img'] }}">
		<div class="band-and-venue-info myfont">
			<span style="font-size: 105%">{{ show['artist_name'] }}</span></br> {{ show['venue'] }} | {{ show['time'] }}
		</div>
	</div>
	{% endfor %}
</div>
{% endfor %}
{{ testdiv }}

{% endblock %}